.data{
    height: 50px;
    width:50px;
    border-left: red 5px solid;
    border-right: red 5px solid;
    border-top:red 5px solid;
    border-bottom: red 5px solid;
}

.table{
    border-collapse: collapse;
  border-spacing:0px;
}

.leftBorder{
    border-left: black 1px solid;
}

/*
different color
winner
useRef
Code optimise - reuse ...
instead of alert display message  